:root {
    --primary-color: #ffe600;
    --blue: #3483fa;
    --black: #333333;
    --black-light: #666666;
    --gray: #999999;
    --gray-light: #eeeeee;
    --white: #ffffff;
}

body {
  background-color: var(--gray-light);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  override-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


